<article>

    <!-- basic -->
    <section class="my-5">
        <header>
            <h2> Basic Tooltip </h2>
        </header>
        
        <button type="button" class="btn btn-primary" tooltip="Example of tooltip...">
            Click Me!
        </button>
    </section>

    <!-- placement -->
    <section class="my-5">
        <header>
            <h2> Tooltip Placement </h2>
        </header>
        
        <button type="button" class="btn btn-default btn-secondary m-1" 
                *ngFor="let tooltip of tooltips;"
                [tooltip]="tooltip.content" [placement]="tooltip.placement">
            {{ tooltip.title }}
        </button>
    </section>

    <!-- custom triggers -->
    <section class="my-5">
        <header>
            <h2> Tooltip Custom Triggers </h2>
        </header>
        
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-info" 
                        tooltip="Hiding on blur..." triggers="mouseenter:click">
                    Hover over me!
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" 
                        tooltip="Double click to hide" triggers="dblclick">
                    Double click me!
                </button>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Tooltip on change..." 
                       tooltip="Hiding on blur" triggers="keypress:focusout">
            </div>
        </div>
    </section>
</article>