<article>

    <!-- basic -->
    <section>
        <div class="my-5">
            <header>
                <h2>Basic Pagination</h2>
            </header>
            
            <pagination [totalItems]="30"></pagination>
        </div>
    </section>

    <!-- boundary links -->
    <section>
        <div class="my-5">
            <header>
                <h2>Pagination with Boundary Links</h2>
            </header>
            
            <pagination [totalItems]="53" [boundaryLinks]="true"></pagination>
        </div>
    </section>

    <!-- custom links -->
    <section>
        <div class="my-5">
            <header>
                <h2>Pagination with Custom Links</h2>
            </header>
            
            <pagination [totalItems]="145" [boundaryLinks]="true" 
                        previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </section>

    <!-- disabled pagination -->
    <section>
        <div class="my-5">
            <header>
                <h2>Disabled Pagination</h2>
            </header>
            
            <pagination [totalItems]="67" [disabled]="true"></pagination>
        </div>
    </section>

    <!-- limits -->
    <section>
        <div class="my-5">
            <header>
                <h2>Pagination Limits</h2>
            </header>
            
            <pagination [totalItems]="totalItems" [maxSize]="maxSize" [(ngModel)]="currentPage">
            </pagination>
        </div>
    </section>

    <!-- content switching -->
    <section>
        <div class="my-5">
            <header>
                <h2>Content Switching</h2>
            </header>
            
            <div class="row">
                <div class="col-12">
                    <div class="content-wrapper">
                        <p class="content-item" *ngFor="let content of returnedArray">
                            {{ content }}
                        </p>
                    </div>
                    <pagination [totalItems]="contentArray.length" (pageChanged)="onPageChanged($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </section>
</article>