<article>
    <section>
        <div class="row my-5">

            <!-- basic -->
            <div class="col-md-6">
                <header>
                    <h2> Basic Rating </h2>
                </header>

                <rating [max]="max" [readonly]="isReadonly" [(ngModel)]="currentRate"></rating>

                <div class="card">
                    <div class="card-block card-header">
                        Rate: <span class="font-weight-bold"> {{ currentRate }} </span>
                    </div>
                </div>
            </div>

            <!-- dynamic -->
            <div class="col-md-6 mt-md-0 mt-5">
                <header>
                    <h2> Dynamic Rating </h2>
                </header>

                <rating [max]="max" [(ngModel)]="otherCurrentRate" (onHover)="onHoveringOver ($event);"
                    (onLeave)="onResetStar ();">
                </rating>
                <span class="label" [ngClass]="labelClass" [ngStyle]="labelStyle">
                    {{ percent }} %
                </span>
                <div class="card">
                    <div class="card-block card-header">
                        Rate: <span class="font-weight-bold"> {{ otherCurrentRate }} </span>;
                        Hovering over: <span class="font-weight-bold"> {{ overStar || "none" }} </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row my-5">

            <!-- custom 1 -->
            <div class="col-md-6">
                <header>
                    <h2> Custom Rating 1 </h2>
                </header>

                <rating [max]="10" [(ngModel)]="customRateFirst" [customTemplate]="customRateTemplateFirst"></rating>

                <div class="card">
                    <div class="card-block card-header">
                        Rate: <span class="font-weight-bold"> {{ customRateFirst }} </span>
                    </div>
                </div>

                <ng-template #customRateTemplateFirst let-index="index" let-value="value">
                    {{ index < value ? '&#9745;' : '&#9744;' }}
                </ng-template>
            </div>

            <!-- custom 2 -->
            <div class="col-md-6 mt-md-0 mt-5">
                <header>
                    <h2> Custom Rating 2 </h2>
                </header>

                <rating [max]="10" [(ngModel)]="customRateSecond" [customTemplate]="customRateTemplateSecond"></rating>

                <div class="card">
                    <div class="card-block card-header">
                        Rate: <span class="font-weight-bold"> {{ customRateSecond }} </span>
                    </div>
                </div>

                <ng-template #customRateTemplateSecond let-index="index" let-value="value">
                    <button type="button" class="btn btn-{{ index < value ? 'warning' : 'default' }}">
                        {{ index < value ? '&#9733;' : '&#9734;' }}
                    </button>
                </ng-template>
            </div>
        </div>
    </section>
</article>