<article>

    <!-- basic datepicker -->
    <section>
        <div class="my-5">
            <header>
                <h2> Datepicker </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker>
                </div>
            </div>
        </div>
    </section>

    <!-- basic datepicker range -->
    <section>
        <div class="my-5">
            <header>
                <h2> Datepicker Range </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDaterangepicker>
                </div>
            </div>
        </div>
    </section>

    <!-- inline datepicker -->
    <section>
        <div class="my-5">
            <header>
                <h2> Inline Datepicker </h2>
            </header>
            
            <div class="row">
                <div class="pr-3 pb-3">
                    <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
                </div>
            </div>
        </div>
    </section>

    <!-- inline datepicker range -->
    <section>
        
        <div class="my-5">
            <header>
                <h2> Inline Datepicker Range </h2>
            </header>
            
            <div class="row">
                <div class="pr-3 pb-3">
                    <bs-daterangepicker-inline [bsValue]="bsInlineRangeValue"></bs-daterangepicker-inline>
                </div>
            </div>
        </div>
    </section>

    <!-- animated datepicker -->
    <section>
        <div class="my-5">
            <header>
                <h2> Animated Datepicker </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsConfig]="bsConfigFirst">
                </div>
            </div>
        </div>
    </section>

    <!-- adaptive position datepicker -->
    <section>
        <div class="my-5">
            <header>
                <h2> Adaptive Position Datepicker </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsConfig]="bsConfigSecond">
                </div>
            </div>
        </div>
    </section>

    <!-- initial state -->
    <section>
        <div class="my-5">
            <header>
                <h2> Initial State Datepickers </h2>
            </header>
            
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsValue]="bsInlineValue">
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDaterangepicker
                        [(ngModel)]="bsInlineRangeValue">
                </div>
            </div>
        </div>
    </section>

    <!-- custom date formats -->
    <section>
        <div class="my-5">
            <header>
                <h2> Custom Date Formats </h2>
            </header>
            
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsConfig]="bsConfigThird">
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsConfig]="bsConfigFourth">
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [bsConfig]="bsConfigFifth">
                </div>
            </div>
        </div>
    </section>

    <!-- themes -->
    <section>
        <div class="my-5">
            <header>
                <h2> Themes </h2>
            </header>
            
            <div class="row">
                <div class="col-md-6">
                    <select class="custom-select form-control" [(ngModel)]="colorTheme"
                        (ngModelChange)="applyTheme (myDatepicker);">
                        <option *ngFor="let theme of themes;" [value]="theme"> 
                            {{ theme.replace ('theme-', '') }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input #myDatepicker="bsDatepicker" type="text" class="form-control" placeholder="Datepicker"
                        bsDatepicker [bsConfig]="bsConfigCustom">
                </div>
            </div>
        </div>
    </section>

    <!-- locales -->
    <section>
        <div class="my-5">
            <header>
                <h2> Locales </h2>
            </header>
            
            <div class="row">
                <div class="col-md-6 form-group">
                    <select class="custom-select form-control" [(ngModel)]="currentLocale"
                        (ngModelChange)="applyLocale (datepickerLocale);">
                        <option *ngFor="let locale of locales;" [value]="locale"> {{ locale }} </option>
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <input #datepickerLocale="bsDatepicker" type="text" class="form-control" placeholder="Datepicker"
                        bsDatepicker>
                </div>
            </div>
        </div>
    </section>

    <!-- min-max -->
    <section>
        <div class="my-5">
            <header>
                <h2> Min-Max Dates </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker [minDate]="minDate"
                        [maxDate]="otherMaxDate">
                </div>
            </div>
        </div>
    </section>

    <!-- days-disabled -->
    <section>
        <div class="my-5">
            <header>
                <h2> Days disabled </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [daysDisabled]="daysDisabled">
                </div>
            </div>
        </div>
    </section>

    <!-- dates-disabled -->
    <section>
        <div class="my-5">
            <header>
                <h2> Dates disabled </h2>
            </header>
            
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker
                        [datesDisabled]="datesDisabled">
                </div>
            </div>
        </div>
    </section>
</article>