<article>
    <div class="row my-5">

        <!-- basic -->
        <div class="col-md-4">
            <header>
                <h2> Basic Array </h2>
            </header>

            <input type="text" class="form-control" [placeholder]="placeholder" [typeahead]="bands"
                [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>
        </div>

        <!-- animation -->
        <div class="col-md-4">
            <header>
                <h2> With Animation </h2>
            </header>

            <input type="text" class="form-control" [placeholder]="placeholder" [typeahead]="bands" [isAnimated]="true"
                [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>
        </div>

        <!-- adaptive position -->
        <div class="col-md-4">
            <header>
                <h2> Adaptive Position </h2>
            </header>

            <input type="text" class="form-control" [placeholder]="placeholder" [typeahead]="bands"
                [adaptivePosition]="true" [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">

        <!-- item template -->
        <div class="col-md-4">
            <header>
                <h2> Item Template </h2>
            </header>

            <input type="text" class="form-control" [placeholder]="placeholder" [typeahead]="bands"
                [typeaheadItemTemplate]="customItemTemplate" [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>

            <ng-template #customItemTemplate let-model="item" let-index="index">
                <h5> This is {{ model | json}} | Index: {{ index }} </h5>
            </ng-template>
        </div>

        <!-- grouping results -->
        <div class="col-md-4">
            <header>
                <h2> Grouping Results </h2>
            </header>

            <input type="text" class="form-control" [typeahead]="otherBands" [adaptivePosition]="true"
                typeaheadOptionField="name" typeaheadGroupField="genre" [(ngModel)]="currentOtherBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentOtherBand | json }}
                </div>
            </div>
        </div>

        <!-- scrollable -->
        <div class="col-md-4">
            <header>
                <h2> Scrollable </h2>
            </header>

            <input type="text" class="form-control" [typeahead]="bands" [adaptivePosition]="true"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>
        </div>
    </div>

    <!-- min-length -->
    <div class="row my-5">
        <div class="col-12">
            <header>
                <h2> Min Length </h2>
            </header>

            <input type="text" class="form-control" [adaptivePosition]="true" [typeahead]="bands"
                [typeaheadMinLength]="2" [(ngModel)]="currentBand">

            <div class="card">
                <div class="card-block card-header">
                    Model: {{ currentBand | json }}
                </div>
            </div>
        </div>
    </div>
</article>