
<!-- basic -->
<div class="mt-5">
    <h3> Basic Header </h3>
    <accordion>
        <accordion-group *ngFor="let header of headers; let i = index;" [heading]="header">
            <p> {{ contents[i] }}</p>
        </accordion-group>
    </accordion>
</div>

<!-- animated -->
<div class="mt-5">
    <h3> Animated Header </h3>
    <accordion [isAnimated]="true">
        <accordion-group *ngFor="let header of headers; let i = index;" [heading]="header">
            <p> {{ contents[i] }}</p>
        </accordion-group>
    </accordion>
</div>

<!-- open change event -->
<div class="mt-5">
    <h3> Event header </h3>
    <accordion [isAnimated]="true">
        <accordion-group 
            *ngFor="let header of headers; let i = index;" [heading]="header"
            (isOpenChange)="onHeaderIsOpenChange ((i + 1));">
            <p> {{ contents[i] }}</p>
        </accordion-group>
    </accordion>

    <p *ngIf="headerChanged">
        {{ headerChanged }}
    </p>
</div>

<!-- enable / disable -->
<div class="mt-5">
    <h3> Enable / Disable </h3>
    <p>
        <button type="button" 
                class="btn btn-primary btn-sm"
                (click)="isDisabled = !isDisabled">
            Enable / Disable
        </button>
    </p>
    <accordion [isAnimated]="true">
        <accordion-group 
            *ngFor="let header of headers; let i = index;" [heading]="header"
            [isDisabled]="isDisabled">
            <p> {{ contents[i] }}</p>
        </accordion-group>
    </accordion>
</div>

<!-- default opened -->
<div class="mt-5">
    <h3> Default opened </h3>
    <accordion [isAnimated]="true">
        <accordion-group 
            *ngFor="let header of headers; let i = index;" [heading]="header">
            <p> {{ contents[i] }}</p>
        </accordion-group>
        <accordion-group heading="Default..." [isOpen]="true">
            Opened by default...
        </accordion-group>
    </accordion>
</div>

<!-- dynamic group -->
<div class="mt-5">
    <h3> Dynamic Group </h3>
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="addGroupItem ();">
            Add Group Item
        </button>
    </p>
    <accordion [isAnimated]="true">
        <accordion-group 
            *ngFor="let item of accordionGroup;" [heading]="item.header">
            <p> {{ item?.content }}</p>
        </accordion-group>
    </accordion>
</div>

<!-- open only one -->
<div class="mt-5">
    <h3> Open Only One </h3>
    <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group 
            *ngFor="let header of headers; let i = index;" [heading]="header">
            <p> {{ contents[i] }}</p>
        </accordion-group>
    </accordion>
</div>
