<article>
    <div class="row my-5">

        <!-- basic -->
        <div class="col-md-6">
            <header>
                <h2 class="text-center"> Basic Sortables </h2>
            </header>

            <hr>

            <div class="row">

                <!-- hard rock bands -->
                <div class="col-md-6">
                    <h5 class="text-center"> Hard Rock Bands </h5>
                    <bs-sortable [(ngModel)]="hardRockBands" 
                                 itemClass="sortable-item" itemActiveClass="sortable-item-active" 
                                 placeholderItem="Drag here" placeholderClass="placeholderStyle" 
                                 wrapperClass="sortable-wrapper">
                    </bs-sortable>
                    <span class="code-preview"> model: {{ hardRockBands | json }} </span>
                </div>

                <!-- heavy metal bands -->
                <div class="col-md-6">
                    <h5 class="text-center"> Heavy Metal Bands </h5>
                    <bs-sortable [(ngModel)]="heavyMetalBands" 
                                 itemClass="sortable-item" itemActiveClass="sortable-item-active" 
                                 placeholderItem="Drag here" placeholderClass="placeholderStyle" 
                                 wrapperClass="sortable-wrapper">
                    </bs-sortable>
                    <span class="code-preview"> model: {{ heavyMetalBands | json }} </span>
                </div>
            </div>
        </div>

        <!-- complex data model -->
        <div class="col-md-6">
            <header>
                <h2 class="text-center"> Complex Data Model </h2>
            </header>

            <hr>

            <div class="row">
                <!-- rock bands -->
                <div class="col-md-6">
                    <h5 class="text-center"> Rock Bands </h5>
                    <bs-sortable [(ngModel)]="rockBands" fieldName="name" 
                                itemClass="sortable-item" itemActiveClass="sortable-item-active" 
                                placeholderItem="Drag here" placeholderClass="placeholderStyle"
                                wrapperClass="sortable-wrapper">
                    </bs-sortable>
                    <span class="code-preview"> {{ rockBands | json }} </span>
                </div>

                <!-- new wave bands -->
                <div class="col-md-6">
                    <h5 class="text-center"> New Wave Bands </h5>
                    <bs-sortable [(ngModel)]="newWaveBands" fieldName="name" 
                                itemClass="sortable-item" itemActiveClass="sortable-item-active" 
                                placeholderItem="Drag here" placeholderClass="placeholderStyle" 
                                wrapperClass="sortable-wrapper">
                    </bs-sortable>
                    <span class="code-preview"> {{ newWaveBands | json }} </span>
                </div>
            </div>
        </div>
    </div>
</article>