/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

.alert-custom-color {
    background-color: cornflowerblue;
    border-color: darkblue;
    color: gold;
    font-weight: bold;
}

.sortable-item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 5px;
    text-align: center;
    padding: 6px;
}

.sortable-item-active {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    cursor: grab;
    font-weight: bold;
}

.code-preview {
    display: block;
    background-color: gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 6px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.4;
    margin: 0 0 10px;
    overflow: auto;
}

.red-tab { background-color: darkred; color: white; }
.red-tab a { background-color: red !important; }
.red-tab a span { color: white; font-weight: bold; }

.green-tab { background-color: darkgreen; color: white; }
.green-tab a { background-color: green !important; }
.green-tab a span { color: white; font-weight: bold; }

.blue-tab { background-color: darkblue; color: white; }
.blue-tab a { background-color: blue !important; }
.blue-tab a span { color: white; font-weight: bold; }